<% if @incoming.any? %>
  <h1>All friend requests</h1>
  <% @incoming.each do |request| %>
    <ul>
      <li>
        <%= request.user.first_name.capitalize %>
        <%= request.user.last_name.capitalize %>
        <%= link_to 'Accept', friend_request_path(request.friend_id), method: :put, class: 'btn btn-success' %>
        <%= link_to 'Decline', friend_request_path(request.friend_id), method: :delete, class: 'btn btn-danger'  %>
      </li>
    </ul>
  <% end %>
<% else %>
  <h1>No new friend requests... :(</h1>
<% end %>